<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script
      src="https://code.jquery.com/jquery-3.4.0.js"
      integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
      crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='date.js') }}"></script>


    <title>Communal Table</title>
  </head>
  <body>

      <!-- nav -->
      <nav class="navbar navbar-expand-lg navbar-light topnav-host">
            <div class="container">
              <a class="navbar-brand mb-0 brandtext text-white" href="#">Communal Table</a>


            </div>

            <div class="container navbar-nav justify-content-end">
              <a class="nav-item nav-link " href="/">Guest</a>
              <a class="nav-item nav-link active text-light" href="host.html">Host</a>
            </div>
      </nav>
      <!-- nav -->


      <div class="container">

      {% for meal in meals %}
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">{{ meal["name"] }}</h5>
            <p class="card-text">{{ meal["des"] }}</p>
          </div>
        </div>
      {% endfor %}
        

        <a id="createnewbtn" class="mt-4 mb-5 btn btn-lg btn-outline-primary btn-block" href="newevent.html">Host a new event</a>

      </div>










    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
